:root{
    --color-primary: #206bc4;
    --color-primary-alert: #3484e3;
    --color-primary-disable: #275c9c;
    --color-primary-darker: #2E5B90;
  
    --color-bg-primary: #f5f7fb;
    --color-bg-secundary: #ffffff;
  
    --color-border-primary: #DEDEDE;
  
    --color-font-primary: #4A4A4A;
    --color-font-secundary: #7a7b7c;
    --color-font-primary-light: #fff;
  
    --border-soft: 1px solid var(--color-border-primary);
}

.kb-main-header{
  background: linear-gradient(300deg, var(--color-primary) 30%, var( --color-primary-darker) 80%);
  height: 50px;
}

.kb-main-header div{
  height: 100%;
}

.kb-main-header-options{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.kb-main-header-logo h1{
  color: var(--color-font-primary-light);
}

.kb-main-header-logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.kb-submenu-header{
  background-color: var(--color-bg-secundary);
  height: 45px;
  border-bottom: 1px solid var(--color-border-primary);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.kb-submenu-header div{
  height: 100%;
}

.kb-submenu-header-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.kb-submenu-header-buttons label{
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
  color: var(--color-font-primary);
}

.kb-submenu-header-buttons label a{
  color: var(--color-font-primary);
  font-weight: 500;
}

.kb-submenu-header-buttons label:hover{
  cursor: pointer;
}

.kb-submenu-header-buttons label:hover a{
  color: var(--color-primary);
} 

.kb-home-top{
  margin-bottom: 30px;
}

.kb-home-header-top{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.kb-home-header-top p:first-child{
  font-size: 18px;
  font-weight: 500;
}

.kb-home-header-top p:last-child{
  font-size: 13px;
}

.kb-home-teams{
  margin-bottom: 30px;
}

.kb-home-teams-body{
  padding-inline: 50px;
}

.kb-home-teams-grid{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.kb-table-header{
  margin: 0;
  margin-bottom: 14px;
  padding-block: 5px;

  background: var(--color-primary);
  
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15) ;
}
.kb-table-header *{
  font-size: 16px;
  font-weight: 500;
  color: var(--color-font-primary-light);
}

.kb-table-row{
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  text-align: center;
  padding-block: 12px;
  width: 100%;

  font-weight: 500;
  font-size: 14px;
}
.kb-table-row:hover{
  background-color: var(--color-bg-primary);
}


.kb-home-teams-footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  height: 100%;
  margin-top: 10px;
}

.kb-home-boards{
  margin-bottom: 30px;
}

.kb-home-boards-body{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start; 

  width: 100%;

  overflow-x: auto;
  padding-block: 20px;
}
