@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #0080f9;
  --color-primary-alert: #2192ff;
  --color-primary-disable: #0063e1;

  --color-primary-light-01: #6f80fc;
  --color-primary-light-02: #8795fa;
  --color-primary-light-03: #a2adfc;

  --color-bg-primary: #ffffff;
  --color-bg-secundary: #ffffff;
  --color-bg-03: #ebedfc;

  --color-border-primary: #ffffff;

  --color-font-primary: #4a4a4a;
  --color-font-secundary: #7a7b7c;
  --color-font-primary-light: #fff;

  --border-soft: 1px solid var(--color-border-primary);

  --color-grey-01: #dddddd;
  --color-grey-02: #bbbbbb;
  --color-grey-03: #999999;
  --color-grey-04: #777777;

  --color-danger-01: #ff5471;
  --color-danger-02: #d42649;
  --color-danger-02: #b3223f;
}

html {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--color-font-primary);
  box-sizing: border-box;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-primary);
}

a {
  text-decoration: none;
}

.formValidationSpan {
  padding-left: 10px;
  font-weight: 500;
  font-size: 9pt;
  color: var(--color-danger-01);
}

.kb-card {
  padding: 20px;
  margin-block: 6px;

  background-color: var(--color-bg-secundary);
  box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);

  border: 1px solid var(--color-border-primary);
  border-radius: 3px;
}

.logoKanbanContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.kb-page-title {
  margin-block: 50px 15px;
}

.kb-page-title p {
  font-size: 9px;
}

.kb-page-title h3 {
  font-size: 18px;
  font-weight: 500;
}

.kb-card-title {
  display: flex;
  flex-flow: column nowrap;
}

.kb-card-title p:first-child {
  font-size: 16px;
  font-weight: bold;
}

.kb-card-title p:last-child {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 40px;
}

.kb-action-button {
  background-color: var(--color-primary);
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-font-primary-light);
  margin: 15px 0 0 0;
  border-radius: 3px;

  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  transition: all 0.1s;
}

.kb-action-button:hover {
  background-color: var(--color-primary-alert);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.kb-action-button:active {
  background-color: var(--color-primary-disable);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
}

.kb-board-card {
  background: linear-gradient(15deg, var(--color-primary) 25%, var(--color-primary-alert) 115%);

  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;

  border-radius: 10px;

  padding: 10px;
  margin-right: 25px;

  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.kb-board-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  opacity: 90%;
}

.kb-board-card * {
  color: var(--color-font-primary-light);
}

.kb-board-card-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.kb-board-card-header p {
  font-size: 12px;
}

.kb-board-card-button {
  background-color: var(--color-bg-primary);
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 6px;
  font-size: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  transition: all 0.05s ease-in;

  color: var(--color-font-primary);
}

.kb-board-card-button:hover {
  background-color: var(--color-bg-secundary);
  font-weight: bold;

  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

.kb-board-card-button:active {
  background-color: var(--color-font-secundary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.kb-board-card-header-members {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.kb-board-card-header-members p {
  margin-left: 5px;
  color: var(--color-font-primary-light);
}

.kb-board-card-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.kb-board-card-body p {
  color: var(--color-font-primary-light);
  font-size: 12px;
}

.kb-input-text-label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.kb-input-text-label p {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
}

.kb-input-text {
  border: 1px solid var(--color-grey-01);
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 15px;

  transition: all 0.1s ease-out;
}

.kb-input-text:hover {
  border: 1px solid var(--color-grey-02);
}

.kb-input-text:focus {
  border: 1px solid var(--color-grey-03);
  outline: none;
}
