.kb-main-header {
  background-color: var(--color-primary);
  height: 50px;
}

.kb-main-header div {
  height: 100%;
}

.kb-main-header-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.kb-main-header-logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.kb-submenu-header {
  background-color: var(--color-bg-secundary);
  height: 65px;
  border-bottom: 1px solid var(--color-border-primary);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.kb-submenu-header div {
  height: 100%;
}

.kb-main-header-logo h1 {
  color: var(--color-font-primary-light);
}

.kb-submenu-header-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.kb-submenu-header-buttons label {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
  color: var(--color-font-primary);
}

.kb-submenu-header-buttons label a {
  color: var(--color-font-primary);
  font-weight: 500;
}

.kb-submenu-header-buttons label:hover {
  cursor: pointer;
}

.kb-submenu-header-buttons label:hover a {
  color: var(--color-primary);
}

.kb-home-top {
  margin-bottom: 30px;
}

.kb-home-header-top {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.kb-home-header-top p:first-child {
  font-size: 18px;
  font-weight: 500;
}

.kb-home-header-top p:last-child {
  font-size: 13px;
}

.kb-home-teams {
  margin-bottom: 30px;
}

.kb-home-teams-grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.kb-table-row-header {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  text-align: center;
  padding-block: 12px;

  font-weight: 500;
  font-size: 14px;
  border-bottom: var(--color-border-primary) 1px solid;
}

.kb-table-row-header * {
  font-weight: bold;
}

.kb-table-row {
  position: relative;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  text-align: center;
  padding-block: 12px;

  font-weight: 500;
  font-size: 14px;
}

.kb-table-row div {
  position: absolute;
  transform: translateX(5px);
  left: 0;
  margin-left: 5px;
  transition: all 0.1s ease-in-out;
}

.kb-table-row:hover {
  background-color: var(--color-bg-primary);
}

.kb-table-row:hover div {
  transform: translateX(15px);
}

.kb-home-teams-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  height: 100%;
  margin-top: 10px;
}

.kb-home-boards {
  margin-bottom: 30px;
}

.kb-home-boards-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  overflow-x: auto;
  padding-block: 20px;
}
