.LoaderContainer {
  display: table;
}
.LoaderSpinner {
  height: 25px;
  width: 25px;
  border: 3px solid var(--color-primary);
  border-top-color: transparent;
  border-radius: 60%;
  animation: 0.5s LoaderSpinning linear infinite;
}

@keyframes LoaderSpinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
